.profile__add-button {
    width: 150px;
    height: 50px;
    background: transparent url(../../../images/add-button.svg) center no-repeat;
    padding: 14px 64px;
    border: solid 2px #fff;
    border-radius: 2px;
    margin-left: auto;
    opacity: 100%;
    transition: linear 0.2s;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .profile__add-button {
        margin: auto;
        width: 282px;
    }
}